{% extends 'venta/padre.html' %}

{% block contenido %}

<section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Datos del comprador</h1>
                    <p class="lead mb-0">Nombre: {{comprador.nombre}}</p>
                    <p class="lead mb-0">Apellido: {{comprador.apellido}}</p>
                    <p class="lead mb-0">DNI: {{comprador.dni}}</p>
                    <p class="lead mb-0">Domicilio: {{comprador.domicilio}}</p>
                    <p class="lead mb-0">Localidad: {{comprador.localidad}}</p>
                    <p class="lead mb-0">Celular: {{comprador.celular}}</p>
                    <p class="lead mb-0">Email: {{comprador.email}}</p>
                </div>
            </div>
</section>
{% endblock %}