{% extends 'venta/padre.html' %}

{% block contenido %}
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-right-quote-fill"></i></div>
            <h2 class="fw-bolder">Cargar auto en venta</h2>
            <p class="lead mb-0">Completa la planilla con los datos del auto!</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
</section>
<form method="POST">

    {% csrf_token %}
    {{form.as_p}}

    
    <input type="submit" value="Crear/Actualizar">

</form>

{% endblock %}