{% extends 'compra/padre.html' %}

{% block contenido %}
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
            <h2 class="fw-bolder">Qué seguro deseas obtener?</h2>
            <p class="lead mb-0">Coloca los datos del seguro que deseas</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
</section>

<ul>
    <h2 class="fw-bolder"> Detalle de las aseguradoras</h2>
    {% for aseguradora in object_list %}
        <li>
            
            <p class="lead mb-0"> {{aseguradora.razon_social}} - {{aseguradora.telefono}} - {{aseguradora.celular}} - {{aseguradora.poliza}} - {{aseguradora.domicilio}} - {{aseguradora.localidad}}</h2>
            <p class="form-floating mb-3"> <a href="{% url 'compra-aseguradora-detail' aseguradora.id %}">Detalle</a> 
            <a href="{% url 'compra-aseguradora-update' aseguradora.id %}">Actualizar</a> 
            <a href="{% url 'compra-aseguradora-delete' aseguradora.id %}">Borrar</a> </p>
        </li>
    {% endfor %}
</ul>

{% endblock %}