{% extends 'compra/padre.html' %}

{% block contenido %}
{%load static%}
<header class="bg-dark py-5">
    <div class="container px-10">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10">
                <div class="text-center my-10">
                    <h1 class="display-10 fw-bolder text-white mb-2">La Escaloneta fue un proyecto pensado y creado por Facundo Cejas y Sebastian Barrientos, alumnos del curso de Python, comision 44470 de Coderhouse.</h1>
                </div>
            </div>
        </div>
    </div>
</div>
</header>


<!-- Nosotros-->
<section class="Nosotros text-center bg-light">
    <div class="container">
        <h2 class="mb-5"  style="color: rgb(47, 0, 255)" >Nosotros</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="nosotros-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-square mb-3"  src="{%static 'compra/assets/img/Sebastian_Barrientos.jpeg'%}" style="max-width: 400px"/>
                    <h5>Sebastian Barrientos</h5>
                    <p class="font-weight-light mb-0">Mi nombre es Sebatian Barrientos, tengo 26 años, soy Abogado y trabajo en el Poder Judicial de la Ciudad Autonoma de Buenos Aires</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="nosotros-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-square mb-3" src="{%static 'compra/assets/img/Facundo_Cejas.jpg'%}" style="max-width: 400px"/>
                    <h5>Facundo Cejas</h5>
                    <p class="font-weight-light mb-0">Mi nombre es Facundo Cejas, tengo 27 años, soy Ingeniero Industrial y me desempeño como analista BI en la empresa COTO C.I.C.S.A. </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
